<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @calendar.title %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @calendar.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @calendar.end_time %>
</p>

<p>
  <strong>Public flag:</strong>
  <%= @calendar.public_flag %>
</p>

<p>
  <strong>Allday flag:</strong>
  <%= @calendar.allday_flag %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @calendar.genre %>
</p>

<%= link_to 'Edit', edit_calendar_path(@calendar) %> |
<%= link_to 'Back', calendars_path %>
